.heading {
  font-size: 1.05rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 1rem 0;
}

h1 {
  color: white;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list {
  padding: 0;
}

.item {
  font-size: 1.25rem;
  background: #2b4555;
  margin-bottom: 8px;
  color: white;
  margin-bottom: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

input {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 968px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (min-width: 1440px) {
  .heading {
    font-size: 2em;
  }
}
